<head>
  <title>Reimbursement form</title>
  <script src="/assets/chat/jquery-2.1.4.min.js"></script>
  <script id="zammad_form_script" src="/assets/form/form.js"></script>
  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      max-width: 40em;
      margin: 1em auto;
      padding: 1em;
    }
  </style>
</head>
<body>
  <h1>Reimbursement form</h1>
  <div id="feedback-form">Sorry the form requires javascript!</div>
  <script>
    $(function() {
      $('#feedback-form').ZammadForm({
        messageTitle: 'Reimbursement Form',
        messageSubmit: 'Submit',
        messageThankYou: 'Thank you for your inquiry (#%s)! We\'ll contact you as soon as possible.',
        attachmentSupport: true,
        attributes: [
          {
            display: 'Name',
            name: 'name',
            tag: 'input',
            type: 'text',
            placeholder: 'Your Name',
            defaultValue: '',
          },
          {
            display: 'Email',
            name: 'email',
            tag: 'input',
            type: 'email',
            placeholder: 'Your Email',
            defaultValue: '',
          },
          {
            display: 'Message',
            name: 'body',
            tag: 'textarea',
            placeholder: 'Your Message...',
            defaultValue: `
Project:
Purpose: (travel/hosting/etc)
Bank details:
Sum:
Additional info:`,
            rows: 10,
          },
          {
            display: 'Reciepts',
            name: 'file[]',
            tag: 'input',
            type: 'file',
            repeat: 3,
          },
        ]
      });
    });
  </script>
</body>
